.cont{

    display: flex;
    justify-content: center;
   
  
  
     
}
.editor{

    height: 600px;
    width: 600px;
    margin-top: 10px;
    
}

.boton{

    width: 150px;
    margin-left: 20px;

}

.container-buttons{
 
    padding: 15px;

    background-color: #566573;

}

body{

    background-color:#ABB2B9 ;
}
#consola textarea{

  width: 450px;
  height: 200px;
  margin-left:25px ;
  margin-top: 410px;
}