.cont{

    display: flex;
    justify-content: center;
  
   
  
  
     
}
.editor{

    height: 461px;
    width: 600px;
    margin-top: 150px;
    
}

.boton{

    width: 150px;
    margin-left: 20px;

}

.container-buttons{
 
    padding: 15px;
    position: fixed;
    background-color: #566573;
    z-index: 100;
    width: 100%;
    opacity: .85;

}

body{

    background-color:#ABB2B9 ;
}
#consola textarea{

  width: 450px;
  height: 200px;
  margin-left:25px ;
  margin-top: 410px;
}